body{
    background:url("images/37.jpg.e9a3144ac7c0ddf4b891be41c90d4cb2.jpg");
}
h1{
    background-color: #000000;
    color: white;
    width: fit-content;
    padding: 6px 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    border: 3px solid blue;
    border-radius: 15px;
}
h1::after{
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: blue;
    border-radius: 10px;
    z-index: -1;
    animation-name: title1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes title1 {
    to{
        width: 0;
        left: -100%;
        opacity: 0;
    }
}
h1::before{
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: blue;
    border-radius: 10px;
    z-index: -1;
    animation-name: title;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes title {
    to{
        width: 0;
        right: -100%;
        opacity: 0;
    }
}
.main{
    background-color: #000000;
    width: 75%;
    height: 480px;
    border-radius: 10px;
    border: 3px solid blue;
    margin-left: 50%;
    transform: translateX(-50%);
}
.x{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid blue;
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
}
.six{
    width: 100%;
    height: 80px;
    padding-top: 15px;
    position: relative;
}
.eat1{
    width: 50px;
    height: 50px;
    background: #ffc107;
    border-radius: 501%;
    margin-left: 4%;
    position: relative;
}
.backman1{
    animation-name: one;
    animation-delay: 2s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes one {
    0%{
        margin-left: 4%;
    }
    12.5%{
        margin-left: 20%;
    }
    25%{
        margin-left: 30%;
    }
    37%{
        margin-left: 40%;
    }
    50%{
        margin-left: 50%;
    }
    62.5%{
        margin-left: 60%;
    }
    75%{
        margin-left: 70%;
    }
    87%{
        margin-left: 80%;
    }
    100%{
        margin-left: 90%;
    }
}
.backman2{
    animation-name: two;
    animation-delay: 10s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes two {
    0%{
        margin-left: 90%;
    }
    12.5%{
        margin-left: 80%;
    }
    25%{
        margin-left: 70%;
    }
    37%{
        margin-left: 60%;
    }
    50%{
        margin-left: 50%;
    }
    62.5%{
        margin-left: 40%;
    }
    75%{
        margin-left: 30%;
    }
    87%{
        margin-left: 20%;
    }
    100%{
        margin-left: 4%;
    }
}
.backman3{
    animation-name: one;
    animation-delay: 18s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.backman4{
    animation-name: two;
    animation-delay: 26s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.backman5{
    animation-name: one;
    animation-delay: 34s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.backman6{
    animation-name: two;
    animation-delay: 42s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.eat1::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
    top: 5px;
    left: 18px;
    border-radius: 50%;
}
.eat1::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background: #000000;
    right: -18px;
    top: 9px;
    transform: rotate(293deg) skew(341deg, 34deg);
}
.eat2{
    width: 50px;
    height: 50px;
    background: #ffc107;
    border-radius: 501%;
    margin-left: 90%;
    position: relative;
}
.eat2::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
    top: 5px;
    right: 18px;
    border-radius: 50%;
}
.eat2::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background: #000000;
    left: -18px;
    top: 9px;
    transform: rotate(293deg) skew(341deg, 34deg);
}
.y{
    width: 10px;
    height: 10px;
    background: #ffc107;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.ball-1{
    left: 30%;
    animation-name:b;
    animation-delay: 4s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
@keyframes b {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.ball-2{
    left: 40%;
    animation-name:b;
    animation-delay: 5s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-3{
    left: 50%;
    animation-name:b;
    animation-delay: 6s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-4{
    left: 70%;
    animation-name:b;
    animation-delay: 8s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-5{
    left: 80%;
    animation-name:b;
    animation-delay: 11s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-6{
    left: 60%;
    animation-name:b;
    animation-delay: 13s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-7{
    left: 40%;
    animation-name:b;
    animation-delay: 15s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-8{
    left: 20%;
    animation-name:b;
    animation-delay: 17s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-9{
    left: 30%;
    animation-name:b;
    animation-delay: 20s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-10{
    left: 50%;
    animation-name:b;
    animation-delay: 22s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-11{
    left: 60%;
    animation-name:b;
    animation-delay: 23s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-12{
    left: 80%;
    animation-name:b;
    animation-delay: 25s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-13{
    left: 70%;
    animation-name:b;
    animation-delay: 28s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-14{
    left: 50%;
    animation-name:b;
    animation-delay: 30s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-15{
    left: 40%;
    animation-name:b;
    animation-delay: 31s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-16{
    left: 20%;
    animation-name:b;
    animation-delay: 33s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-17{
    left: 30%;
    animation-name:b;
    animation-delay: 36s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-18{
    left: 40%;
    animation-name:b;
    animation-delay: 37s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-19{
    left: 60%;
    animation-name:b;
    animation-delay: 39s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-20{
    left: 80%;
    animation-name:b;
    animation-delay: 41s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-21{
    left: 70%;
    animation-name:b;
    animation-delay: 44s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-22{
    left: 50%;
    animation-name:b;
    animation-delay: 46s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.ball-23{
    left: 30%;
    animation-name:b;
    animation-delay: 48s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}